.nav{
    background-color: hsl(0, 0%, 16%);
    padding: 10px;
    font-size:x-large;
    gap: 20px;
    text-align: center;
}

.link{
    margin: 0px 20px;
}

.link:hover{
    color: hsla(0, 0%, 90%, 0.87);
    text-decoration: underline;
}